body {
    background-color: #7EC5B5;
}

header {
    background-color: #91ECDA;
    margin: 1px;
}

header > h1 {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #009D9E;
    margin: 1px;
    list-style-type: none;    
}

.nav-link {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}


figure {
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 10px;
    background-color:#7EC5B5;

}

main {
    /* border: 1px solid blue; */
    background-color: #91ECDA;
}

article {
    display: inline-block;    
    /* border: 1px solid red; */
    padding: 10px;
}

section {
    display: inline-block;    
    border: 1px solid #009D9E;
    padding: 10px;
    background-color: #7EC5B5;
    border-radius: 25px;
    margin: 10px;
}

footer {
    background-color: #009D9E;
    margin: 1px;
}

/* For code samples */
pre {
    background-color: #7EC5B5;
    border: 1px #009D9E;
    border-radius: 5px;
}

img{
    border: 1px #009D9E;
} 


